//- extends layout

html(lang='en')
	head
		title HTTP authentication
	body
		h1 Login
		p Use <i>user</i> for the username and <i>pass</i> for the password.
		form(method='post')
			p
				label(for='email') email
				input(type='text', name='email')
			p
				label(for='password') Password
				input(type='password', name='password')
			input(type='submit') 

			h4(style="color: red;") #{message}
